<!--User Infoの部分テンプレート-->
<h2>User info</h2>
<% if user.profile_image.attached? %>
    <%= image_tag user.get_profile_image(100, 100) %>
  <% else %>
    <%= image_tag 'default-image.jpg' %>
<% end %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
      <%= link_to edit_user_path(user.id) do %>
        <div class="btn btn-outline-secondary btn-block">
        <i class="fas fa-user-cog"></i>
        </div>
      <% end %>

<!--New Bookの部分テンプレート-->
<h2>New book</h2>
<!--バリデーションチェック-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %></br>

  <%= f.submit 'Create Book', class: "btn btn-success" %>

<% end %>