<h2>New book</h2>
<!--form with部分-->
<% form_with model: @book do |f| %>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Opinion %><br />
    <%= f.text_field :Opinion %>
  </div>

  <%= f.submit 'Create Book' %>
<% end %>