<main>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

    <!--New BookとUser infoの部分テンプレート-->
    <%= render 'book', book: @newbook, user: @user %>
    </div>

<!--Book detail部分-->
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">

  <tbody>
    <tr>
      <td>
        <%= image_tag @book.user.get_profile_image(100, 100) %></br>
        <%= link_to @user.name, user_path(@user.id) %>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book),class: "btn btn-success" %>
        <% end %>
        </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
        <% end %>
        </td>
    </tr>
  </tbody>
</table>
</main>