<div>
  <%= flash[:notice] %>
</div>

<main>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

    <!--New BookとUser infoの部分テンプレート-->
    <%= render 'book', book: @newbook, user: @user %>
    </div>

<!--Book detail部分-->
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">

  <tbody>
    <tr>
      <td>
        <%= image_tag @book.user.get_profile_image(100, 100) %></br>
        <%= @user.name %>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td><%= link_to "Edit", edit_book_path(@book),class: "btn btn-success" %></td>
      <td><%= link_to "Destroy", books_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
</table>
</main>